header {
  X-Content-Type-Options "nosniff"
  X-Frame-Options "DENY"
  X-XSS-Protection "1; mode=block"
  Content-Security-Policy "self"
  Referrer-Policy "no-referrer"
}

encode zstd gzip
file_server

@openid query openid.mode=*
rewrite @openid /openid.html

rewrite /steam/76561* /profiles/{path.file}/?xml=1
reverse_proxy /profiles/* https://steamcommunity.com {
	header_up Host {http.reverse_proxy.upstream.hostport}
}

rewrite /steam/* /id/{path.file}/?xml=1
reverse_proxy /id/* https://steamcommunity.com {
	header_up Host {http.reverse_proxy.upstream.hostport}
}

rewrite /match/* /api/player/lastmatch?game=aoe2de&steam_id={path.file}
reverse_proxy /api/player/lastmatch* https://aoe2.net {
	header_up Host {http.reverse_proxy.upstream.hostport}
}
